{% extends 'layout2.html' %}
{% block content%}
    <header>
        <h1>About BlogPost</h1>
    </header>
    <hr>
    <hr>
    <section>
        <h2>Welcome to BlogPost</h2>
        <p>Welcome to BlogPost - your one-stop destination for all things blogging! Whether you're a seasoned writer or just dipping your toes into the world of blogging, we've got you covered with a suite of powerful tools and features to make your blogging experience seamless and enjoyable.</p>
        <hr>
        <hr>
        <h2>Our Features</h2>
        <ul>
            <li>User-friendly Interface</li>
            <li>Registration and Login</li>
            <li>Forgot Password Functionality</li>
            <li>Create, Update, and Delete Blog Posts</li>
            <li>Pagination and View Specific User's Blog Posts</li>
            <li>Weather App Integration</li>
            <li>Feedback Form</li>
        </ul>
        <hr>
        <hr>
        <h2>Technologies Used</h2>
        <p>BlogPost is powered by Flask, a lightweight and flexible web framework for Python. We also leverage HTML, CSS, and Boostrap to create a dynamic and responsive user interface. Our weather functionality is made possible through integration with a third-party weather API.</p>
        <hr>
        <hr>
        <h2>Development Process</h2>
        <p>BlogPost was developed with a focus on simplicity, functionality, and user experience. We followed best practices in web development and employed rigorous testing to ensure a smooth and reliable user experience. Throughout the development process, we remained committed to delivering a high-quality blogging platform that meets the needs of our users.</p>
        <hr>
        <hr>        
        <h2>Disclaimer</h2>
        <p>Please note that BlogPost is a student project and should be taken lightly. While we strive to provide a functional and enjoyable blogging experience, this application is primarily aimed at learning and experimentation purposes. We encourage users to explore and interact with the features of BlogPost with this understanding in mind.</p>
        <hr>
        <hr>        
        <h2>Thank You</h2>
        <p>Thank you for choosing BlogPost! We hope you enjoy using our platform to share your thoughts, ideas, and stories with the world. Happy blogging!</p>
        <hr>
        <hr>
    </section>
{% endblock content %}

