{% extends 'layout2.html' %}
{% block content%}
    <header>
        <h1>Contact Us</h1>
    </header>
    <hr>
    <hr>
    <p>We value your thoughts and inquiries! Whether you have questions about our app, suggestions for improvement, or just want to say hello, we're eager to hear from you. Our team is committed to providing excellent support and ensuring your experience with our blog app is seamless.</p>
    <p>Have questions or feedback? We'd love to hear from you! Feel free to reach out to us at <a href="mailto:projectblogpost@gmail.com">projectblogpost@gmail.com</a>.</p>
    <hr>
    <hr>
{% endblock content %}